body, html {
    height: 100%;
}

.bg {
    background-color: #000000;
    height: 100%;
    text-align: center;
}

.container {
    display: inline-block;
}

.uploadbox {    
    text-align: left;
    width: 50vw;
    padding: 5vh;
}